
#map {
 
  height: 100%;
  left: 0px;
  position: absolute;
  right: 0px;
 
}

/*----- Mobile: max-width 770px like iPad -----*/
@media screen and (max-width: 770px) {
  #map {
    left:0px;
  }

}
/*----- Mobile: max-width 415px like iPhone 6 Plus -----*/
@media screen and (max-width: 415px) {
  .options-box {
    width: 190px;
    padding: 0 0 0;
 
  
}
/*---- Mobile: max-width 360px like Google Nexus 5 ---------*/
@media screen and (max-width: 360px) {
  .options-box {
    width: 145px;
  }
 
}